@use '../utils/variables' as *;
@use '../utils/mixins' as *;

html,
body {
  background: #000000;
  color: #fff;
  font-family: $font-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include scrollbars(6px, white, map-get($theme-colors, gray-dark));
}

.text-highlighted {
  color: white;
}