// Base
@use './scss/base/reset';
@use './scss/base/base';

// Utils
@use './scss/utils/animations';

// Layout
@use './scss/layout/sections';
@use './scss/layout/containers';
@use './scss/layout/grids';
@use './scss/layout/header';
@use './scss/layout/footer';

// Compontents

// Sections
@use './scss/sections/hero';
@use './scss/sections/collections';