@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.site-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 64px;
  margin-bottom: map-get($spacing, "l");

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1448px;
    margin: 0 auto;
    padding: 0 24px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: map-get($spacing, "m");
  }

  &__legend {
    font-family: $font-mono;
    font-weight: 500;
    font-size: map-get($text-size, "s");
    color: map-get($theme-colors, "gray-light");
    letter-spacing: -0.02em;
  }

  &__actions {
    display: flex;
    align-items: center;
  }
}

.btn-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $font-display;
  font-weight: 500;
  font-size: map-get($text-size, "s");
  color: black;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease;
  transition: opacity ease-in-out .2s;

  &:hover {
    opacity: 0.8;
  }
}